{% extends 'base.html.twig' %}

{% block title %}Liste des Status de devis{% endblock %}

{% block body %}
    {% include '_partials/back/_platform_nav.html.twig' %}

    <section class="p-4 sm:ml-64 mt-14">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-lg font-bold">Liste des produits</h1>
            <a href="{{ path('platform_quote_status_new') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Créer un Status de devis
            </a>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Titre
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for quote_status in quote_statuses %}
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <td class="px-6 py-4">{{ quote_status.id }}</td>
                            <td class="px-6 py-4">{{ quote_status.title }}</td>
                            <td class="px-6 py-4 flex">
                                <a href="{{ path('platform_quote_status_show', {'id': quote_status.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2">
                                    Voir
                                </a>
                                <a href="{{ path('platform_quote_status_edit', {'id': quote_status.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2">
                                    Modifier
                                </a>
                                <form method="post" action="{{ path('platform_quote_status_delete', {'id': quote_status.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quote_status.id) }}">
                                    <button class="font-medium text-red-600 dark:text-red-500 hover:underline" type="submit">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="bg-gray-100 border-b dark:bg-gray-800">
                            <td colspan="3" class="px-6 py-4 text-center text-gray-600 dark:text-gray-400 text-lg">
                                Aucun status pour le moment.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}
