{% extends 'base.html.twig' %}

{% block title %}Status de devis{% endblock %}

{% block body %}
    {% include '_partials/back/_platform_nav.html.twig' %}
    <section class="p-4 mt-14 w-full">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold mb-5">Status (devis) #{{ quote_status.id }}</h1>

            <div class="actions flex">
                <a href="{{ path('platform_quote_status_index') }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                    Revenir à la liste
                </a>
                <a href="{{ path('platform_quote_status_edit', {'id': quote_status.id}) }}" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">
                    Modifier
                </a>
                {{ include('back/quote_status/_delete_form.html.twig') }}
            </div>
        </div>

        <div class="bg-white shadow rounded-lg p-6">
            <table class="w-full table-auto">
                <tbody class="text-gray-700">
                    <tr class="border-b">
                        <th class="py-2 px-4 text-left font-semibold">Id</th>
                        <td class="py-2 px-4">{{ quote_status.id }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="py-2 px-4 text-left font-semibold">Titre</th>
                        <td class="py-2 px-4">{{ quote_status.title }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}