{% extends 'base.html.twig' %}

{% block title %}Edit type d'email{% endblock %}

{% block body %}
    {% include '_partials/back/_platform_nav.html.twig' %}

    <section class="p-4 mt-14 w-full">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold mb-5">Type d'email #{{ email_type.id }}</h1>

            <div class="actions flex">
                <a href="{{ path('admin_email_type_index') }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                    Revenir à la liste
                </a>
                {{ include('back/admin/email_type/_delete_form.html.twig') }}
            </div>
        </div>

        <div class="bg-white shadow rounded-lg p-6">
            {{ form_start(form, {'attr': {'class': 'w-full'}}) }}

            {% for field in form %}
                {% if field.vars.name != '_token' %}
                    <div class="mb-4">
                        {{ form_label(field, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                        {{ form_widget(field, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                        {{ form_errors(field) }}
                    </div>
                {% endif %}
            {% endfor %}

            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                {{ button_label|default('Enregistrer') }}
            </button>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

