{% extends 'base.html.twig' %}

{% block title %}Type mail{% endblock %}

{% block body %}
    {% include '_partials/back/_platform_nav.html.twig' %}
    <section class="p-4 mt-14 w-full">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold mb-5">Type d'Email #{{ email_type.id }}</h1>

            <div class="actions flex">
                <a href="{{ path('admin_email_type_index') }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                    Revenir à la liste
                </a>
                <a href="{{ path('admin_email_type_edit', {'id': email_type.id}) }}" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">
                    Modifier
                </a>
                {{ include('back/admin/email_type/_delete_form.html.twig') }}
            </div>
        </div>

        <div class="bg-white shadow rounded-lg p-6">
            <table class="w-full table-auto">
                <tbody class="text-gray-700">
                <tr class="border-b">
                    <th class="py-2 px-4 text-left font-semibold">Id</th>
                    <td class="py-2 px-4">{{ email_type.id }}</td>
                </tr>
                <tr class="border-b">
                    <th class="py-2 px-4 text-left font-semibold">Type</th>
                    <td class="py-2 px-4">{{ email_type.type }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}

