{# templates/back/dashboard/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		{% include '_partials/back/_platform_nav.html.twig' %}
		<main class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="pt-20 px-4">
				<div class="mb-4">
					<h2 class="text-2xl font-semibold text-gray-800">Bienvenue, {{ app.user.getUserIdentifier }} !</h2>
				</div>
				<div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
					<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
						<div class="flex items-center justify-between mb-4">
							<div class="flex-shrink-0">
								<span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{ totalAmountOfPayments | format_currency('EUR') }}</span>
								<h3 class="text-base font-normal text-gray-500">Total Revenue de la semaine</h3>
							</div>
							{% if paymentGrowthRate > 0 %}
								<div class="flex items-center justify-end flex-1 text-green-500 text-base font-bold">
									{{ paymentGrowthRate }}%
									<svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
									</svg>
								</div>
							{% else %}
								<div class="flex items-center justify-end flex-1 text-red-500 text-base font-bold">
									{{ paymentGrowthRate }}%
									<svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
									</svg>
								</div>
							{% endif %}

						</div>
						<div id="main-chart" style="min-height: 435px;">

							{{ render_chart(paymentChart) }}
						</div>
					</div>
					{% include '_components/back/transactions_list.html.twig' with {'transactions': transactions} %}

				</div>
				<div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

					{% include '_components/back/stat-card.twig' with {
						title: 'Nombre d\'entreprises',
						count: companyCount,
						percentage_change: growthCompanies
					} %}

					{% include '_components/back/stat-card.twig' with {
						title: 'Nombre d\'utilisateurs',
						count: userCount,
						percentage_change: userGrowthRate
					} %}

					{% include '_components/back/stat-card.twig' with {
						title: 'Nombre total de paiements',
						count: totalAmountOfPayments | format_currency('EUR'),
						percentage_change: paymentGrowthRate
					} %}

				</div>
				<div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">

					{% include '_components/back/latest_customers.html.twig' with {'customers': latestCustomers} %}

					<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">

						<h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Inscription par mois</h3>
						<div class="block w-full overflow-x-auto">
							{{ render_chart(signupChart) }}
						</div>
					</div>
				</div>
			</div>
		</main>
	{% else %}
		<div class="flex items-center justify-center h-screen">
			<div class="text-center">
				<h1 class="text-3xl font-bold text-gray-900">Vous n'avez pas les droits pour accéder à cette page</h1>
				<a href="{{ path('app_home') }}" class="text-blue-500 hover:underline">Retour à l'accueil</a>
			</div>
		</div>
	{% endif %}
	{% endblock %}
