{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    {% include '_partials/back/_platform_nav.html.twig' %}

    <section class="p-4 mt-14 w-full">
        <div id="flash-messages" class="fixed bottom-4 mb-4 right-4 z-50 flex flex-col space-y-2">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-message {{ label == 'success' ? 'bg-green-500 text-white' : '' }}
                                {{ label == 'error' ? 'bg-red-500 text-white' : '' }}
                                px-4 py-2 rounded shadow-md relative" role="alert">
                        <span class="block sm:inline">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-lg font-bold">Gestion des utilisateurs</h1>
            <a href="{{ path('platform_user_new') }}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            {% if is_granted("ROLE_ADMIN") %}
                Nouvel utilisateur
            {% else %}
                Générer un compte employé
            {% endif %}
            </a>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Prénom
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Nom
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Entreprise
                        </th>
                        {% if is_granted("ROLE_ADMIN") %}
                            <th scope="col" class="px-6 py-3 text-left">
                                Roles
                            </th>
                        {% endif %}
                        <th scope="col" class="px-6 py-3 text-left">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Téléphone
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Adresse
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Créé le
                        </th>
                        <th scope="col" class="px-6 py-3 text-left">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        {% set hide_confidential_info = 
                                'ROLE_COMPANY' in user.roles
                                and is_granted("ROLE_ADMIN") == false
                                and is_granted("ROLE_COMPANY") == false
                        %}
                        {% set blur = hide_confidential_info ? "blur" : "" %}

                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <td class="px-6 py-4">
                                <div class="flex">
                                    <span class="{{ blur }}">{{ hide_confidential_info ? '###' : user.id }}</span>
                                    {% if 'ROLE_COMPANY' in user.roles %}
                                        <span class="text-xs font-semibold ml-2 px-2.5 py-0.5 rounded bg-yellow-200 text-yellow-800">CEO</span>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                {{ user.firstName }}
                            </td>
                            <td class="px-6 py-4">
                                {{ user.lastName }}
                            </td>
                            <td class="px-6 py-4">
                                {{ user.company.name ?? '-' }}
                            </td>
                            {% if is_granted("ROLE_ADMIN") %}
                                <td class="px-6 py-4">
                                    {{ user.roles ? user.roles|json_encode : '' }}
                                </td>
                            {% endif %}
                            <td class="px-6 py-4 {{ blur }}">
                                {{ hide_confidential_info ? 'confidentiel' : user.email }}
                            </td>
                            <td class="px-6 py-4 {{ blur }}">
                                {{ hide_confidential_info ? 'confidentiel' : user.phone }}
                            </td>
                            <td class="px-6 py-4 {{ blur }}">
                                {{ hide_confidential_info ? 'confidentiel' : user.address|length > 20 ? user.address|slice(0, 20) ~ '...' : user.address }}
                            </td>
                            <td class="px-6 py-4 {{ blur }}">
                                {{ hide_confidential_info ? 'confidentiel' : user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '-' }}
                            </td>
                            <td class="px-6 py-4 flex {{ blur }}">
                                {% if can_access('platform_page_access_edit') %}
                                    {% if hide_confidential_info %}
                                        <a href="#" class="font-medium text-green-600 dark:text-green-500 hover:underline mr-2">
                                            Droits et accès
                                        </a>
                                    {% else %}
                                        <a href="{{ path('platform_page_access_edit', {'id': user.id}) }}" class="font-medium text-green-600 dark:text-green-500 hover:underline mr-2">
                                            Droits et accès
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if can_access('platform_user_show') %}
                                    {% if hide_confidential_info %}
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2">
                                            Voir
                                        </a>
                                    {% else %}
                                        <a href="{{ path('platform_user_show', {'id': user.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2">
                                            Voir
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if can_access('platform_user_edit') %}
                                    {% if hide_confidential_info %}
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2">
                                            Modifier
                                        </a>
                                    {% else %}
                                        <a href="{{ path('platform_user_edit', {'id': user.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2">
                                            Modifier
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if can_access('platform_user_delete') %}
                                    {% if hide_confidential_info %}
                                        <button class="font-medium text-red-600 dark:text-red-500 hover:underline" type="submit">Supprimer</button>
                                    {% else %}
                                        <form method="post" action="{{ path('platform_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                            <button class="font-medium text-red-600 dark:text-red-500 hover:underline" type="submit">Supprimer</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="bg-gray-100 border-b dark:bg-gray-800">
                            <td colspan="10" class="px-6 py-4 text-center text-gray-600 dark:text-gray-400 text-lg">
                                Aucun utilisateur pour le moment.
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}