<div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
	<div class="flex items-center justify-between mb-4">
		<h3 class="text-xl font-bold leading-none text-gray-900">Derniers clients</h3>
		<a href="{{ path('platform_customer_index') }}" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
			Tout voir
		</a>
	</div>

	{% if customers is empty %}
		<div class="text-center py-4">
			<p class="text-sm text-gray-500">Aucun client à afficher</p>
		</div>
	{% else %}
		<div class="flow-root">
			<ul role="list" class="divide-y divide-gray-200">
				{% for customer in customers %}
					<li class="py-3 sm:py-4">
						<div class="flex items-center space-x-4">
							<div class="flex-shrink-0">
								<img class="h-8 w-8 rounded-full" src="{{ customer.profilePicture|default('https://ui-avatars.com/api/?name=' ~ customer.firstName ~ '+' ~ customer.lastName ~ '&background=0D8ABC&color=fff') }}" alt="Image de la photo de profil de {{ customer.firstName }} {{ customer.lastName }}">
							</div>
							<div class="flex-1 min-w-0">
								<p class="text-sm font-medium text-gray-900 truncate">
									{{ customer.lastName }},
									{{ customer.firstName }}
								</p>
								<p class="text-sm text-gray-500 truncate">
									{{ customer.email }}
								</p>
							</div>
							<div class="inline-flex items-center text-base font-semibold text-gray-900">
								{{ customer.company.name|default('Pas d\'entreprise associée') }}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
