<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
	<div class="mb-4 flex items-center justify-between">
		<div>
			<h3 class="text-xl font-bold text-gray-900 mb-2">Dernières transactions</h3>
			<span class="text-base font-normal text-gray-500">Liste des dernières transactions effectuées</span>
		</div>
		<div class="flex-shrink-0">
			<a href="{{ path('app_payment') }}" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2">Tout voir</a>
		</div>
	</div>

	<div class="flex flex-col mt-8">
		<div class="overflow-x-auto rounded-lg">
			<div class="align-middle inline-block min-w-full">
				<div class="shadow overflow-hidden sm:rounded-lg">
					<table class="min-w-full divide-y divide-gray-200">
						<thead class="bg-gray-50">
							<tr>
								<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Transaction
								</th>
								<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Date &amp; Heure
								</th>
								<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Montant
								</th>
							</tr>
						</thead>
						<tbody class="bg-white">
							{% for transaction in transactions %}
								<tr class="{{ loop.index is odd ? '' : 'bg-gray-50' }}">
									<td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
										{{ transaction.description }}
										<span class="font-semibold">{{ transaction.entity }}</span>
									</td>
									<td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
										{{ transaction.date }}
									</td>
									<td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
										{{ transaction.amount | format_currency('EUR') }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
